<div class="stats-container">
  <div class="card">
    <h3>Total Balance</h3>
    <p>{{ transactionService.totalBalance() | currency }}</p>
  </div>

  <div class="card income">
    <h3>Income</h3>
    <p>+{{ transactionService.totalIncome() | currency }}</p>
  </div>

  <div class="card expense">
    <h3>Expenses</h3>
    <p>{{ transactionService.totalExpense() | currency }}</p>
  </div>
  <div class="card investment">
    <h3>Investments</h3>
    <p>{{ transactionService.totalInvestment() | currency }}</p>
  </div>
</div>